.calender{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
   
    row-gap: 10px;
    column-gap: 10px;
   

  
.date , .day{
    background-color: aqua;
    height:50px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}